<div class="strib-styles ssa ssb ssc">
    <div class="container-lg elex-header">
      <h5></h5>
      <h1>So far <span class='odometer' id="odometer" style="min-width:134px;">42,552</span> people have voted early in Minnesota. Here's what to watch.</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p>
      <!-- share -->
    </div>

    <div class="container-lg elex-main">

        <section class="leadin">

          <p>Two weeks into early voting, the number of ballots cast in Minnesota is nearly on pace with the early general election turnout in 2016, according to the Minnesota Secretary of State's office — an initial sign of potentially strong midterm turnout in November.</p>

          <p>In 2016, nearly 700,000 absentee ballots were received prior to Election Day. So far this year, nearly 43,000 votes have already been cast, which is roughly on pace with 2016 at this time and significantly more than the number who voted early in the 2014 midterms, when early voting was first allowed.</p>

          <p>The Star Tribune will be tracking the early vote here every week until Election Day, with new counts typically arriving on Thursdays. Here are the things we're watching as the vote comes in:</p>

        </section>
    
        <section class="body">
          <h2 class="chartTitle">How does turnout compare to 2014 and 2016?</h2>

          <p>High early voting numbers could be a reflection of enthusiasm among voters of both parties. It could also suggest that Minnesotans are getting used to recent voting laws, enacted in 2013 and first available in 2014, which allow residents to vote early without an excuse about six weeks before the election.</p>

          <p>So far this year, 42,552 Minnesotans have cast <span class="legendary purple3">ballots</span> — three times the number that had voted early at this point in <span class="gray1 legendary">2014</span> and only about 14,000 votes behind <span class="gray3 legendary">2016's</span> tally.</p>

          <div class="slide">
            <div class="chatter"></div>
            <div class="chart" id="chart"></div>
            <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
          </div>

          <p>Being just behind 2016 is especially significant because midterm turnout is usually much lower in Minnesota than during presidential years.</p>

        </section>

        <div class="rule"></div>
    
        <section class="body">
          <h2 class="chartTitle">Where are the early votes coming from?</h2>

          <p>Apart from being the state's major population centers, metro area counties like Hennepin and Ramsey often vote heavily Democratic in statewide elections. High turnout there could reflect Democratic enthusiasm, whereas high turnout in outstate counties could mean the same for Republicans.</p>

          <p>So far, measuring the percentage of absentee ballots cast by Minnesota county — shaded from <span class="legendary purple1">less</span> to <span class="legendary purple3">more</span> — reveals the most early turnout in Hennepin, Ramsey and Dakota counties.</p>

          <div class="slide">
            <div class="chatter"></div>
            <div id="mapCounties" class="map"><svg width="320" height="350" viewBox="0 0 500 550" preserveAspectRatio="xMidYMid"></svg></div>
            <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
          </div>

          <p>Dakota and Hennepin Counties are also <a href="http://www.startribune.com/why-you-re-hearing-so-much-about-minnesota-s-congressional-races-this-fall/483225921/">home to two heavily-contested U.S. Congressional races</a>, which could also play a role in driving up turnout.</p>

          <p>By comparison, just before Election Day in 2016, <a href="http://www.startribune.com/who-s-using-absentee-voting-in-minnesota/399366901/#1">counties in northern parts of the state</a> and the Iron Range had among the highest percentages of early voter turnout.</p>

          <p>Overall, the majority of <span class="legendary purple3">2018</span> early votes are on pace to come from Hennepin and Ramsey counties, just as they were in <span class="legendary gray3">2016</span>.</p>

          <div class="slide bottom">
            <div class="chatter"></div>
            <div class="chart" id="chartRegion"></div>
            <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
          </div>

        <p>The other five metro counties — Anoka, Carver, Dakota, Scott and Washington — alone account for about a quarter of the early vote.</p>

        </section>

        <div class="rule"></div>

        <section class="body hidden">
          <h2 class="chartTitle">Are young people turning out?</h2>

          <p>Election forecasters are watching this year's youth vote closely since a significant increase in turnout among those aged 18-to-35 <a href="http://www.startribune.com/minnesota-youth-could-affect-key-november-elections-if-they-turn-out/480720341/">could strongly impact November's results</a>.</p>

          <p>This year's early youth vote comprises XX percent of absentee ballots filed so far, roughly the same as the early primary vote a few months ago. In 2016, voters aged 55 or older had the highest absentee turnout.</p>

          <div class="slide">
            <div class="chatter"></div>
            <div class="chart" id="chartAge"></div>
            <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
          </div>
        </section>
    
      </div>
  </div>

<script>
  import Odometer from 'odometer';
  import Chart from '../app/chart.js';
  import compareChart from '../app/comparechart.js';
  import barChart from '../app/barchart.js';
  import ageChart from '../app/agechart.js';
  import regionChart from '../app/regionchart.js';
  import Map from '../app/map.js';


  export default {
    oncreate() {
      const VOTE_COUNT = 42552;

      // Make odometer
      let el = document.querySelector('.odometer');

      let od = new Odometer({
        el: el,
        value: 0
      });

      od.update(VOTE_COUNT)

      // Render charts
      const chart0 = new Chart('#chart');
      const chart1 = new compareChart('#chartYear');
      const chart2 = new regionChart('#chartRegion');
      const chart3 = new ageChart('#chartAge');
      const chart4 = new barChart('#chartPrimary');
      const map = new Map("#mapCounties");

      chart0.render();
      chart1.render();
      chart2.render();
      chart3.render();
      chart4.render();
      map.render();
    }
  };
</script>