<div class="strib-styles ssa ssb ssc">
    <div class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium">Election 2018</span></h5>
      <h1>So far <span class='odometer' id="odometer"></span><span class="realNum hidden">42,552</span> people have voted early in Minnesota. Here's what to watch.</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> and Chase Davis • <span>Star Tribune</span></p>
      <!-- share -->
    </div>

    <div class="container-lg elex-main">

        <section class="leadin">
            <p>The Star Tribune is using weekly Minnesota Secretary of State ballot counts to track early voting trends for this year's midterm election.</p>

            <p>Two years ago, nearly 700,000 absentee ballots were received prior to Election Day. Since the start of early voting on Sep. 21, ballot totals have surpassed both the 2014 election at this point and is just behind 2016's pace, an initial sign of strong midterm turnout in November.</p>
  
            <p>We'll be tracking the early vote here every week until Election Day, with new results typically arriving on Thursdays. Here's what we've learned so far from the numbers.</p>

        </section>
    
        <section class="body">
            <h2 class="chartTitle">So far, more voters are turning out</h2>

            <p>Through nearly two full weeks of early voting, nearly 43,000 Minnesotans have cast <span class="legendary purple3">ballots</span> so far this year — three times the number that had voted early at this point in <span class="gray1 legendary">2014</span> and only about 14,000 votes behind <span class="gray3 legendary">2016's</span> tally.</p>

            <p>Being just behind 2016 is especially significant because midterm turnout is usually much lower in Minnesota than during presidential years.</p>

            <div class="slide">
                <div class="chatter"></div>
                <div class="chart" id="chart"></div>
                <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
              </div>

            <p>High early voting numbers could be a reflection of enthusiasm among voters of both parties. It could also suggest that Minnesotans are getting used to new early voting laws, enacted in 2013 and first available in 2014, which allow residents to vote absentee without an excuse about six weeks before the election.</p>

            <p>Before 2014, voters who wanted to cast early ballots needed to provide an excuse like being outside the state or otherwise unable to reach a Minnesota polling place.</p>

        </section>

        <div class="rule"></div>
    
        <section class="body">
            <h2 class="chartTitle">Most of them are from the Twin Cities (but it's early)</h2>

        <div class="slide">
                <div class="chatter"></div>
                <div id="mapCounties" class="map"><svg width="320" height="350" viewBox="0 0 500 550" preserveAspectRatio="xMidYMid"></svg></div>
                <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
        </div>

            <p>Measuring the percentage of absentee ballots cast by Minnesota county — shaded from <span class="legendary purple1">less</span> to <span class="legendary purple3">more</span> — reveals the most early turnout in Hennepin, Ramsey and Dakota counties.</p>

            <p>Notably, these metro area counties are often heavily Democratic in statewide contests. Additionally, this year Dakota and Hennepin are <a href="http://www.startribune.com/why-you-re-hearing-so-much-about-minnesota-s-congressional-races-this-fall/483225921/">epicenters in two heavily-contested U.S. Congressional races</a> in Districts Two and Three, respectively.</p>

            <p>By comparison, just before Election Day in 2016, <a href="http://www.startribune.com/who-s-using-absentee-voting-in-minnesota/399366901/#1">counties in northern parts of the state</a> and the Iron Range had among the highest percentages of early voter turnout.</p>
        </section>

        <div class="rule"></div>

        <section class="body">
            <h2 class="chartTitle">Most votes come the metro core</h2>

            <p>Overall, the majority of <span class="legendary purple3">2018</span> early votes are on pace to come from Hennepin and Ramsey counties, just as they were in <span class="legendary gray3">2016</span>.</p>

            <p>The Twin Cities, of course, has a larger population than other regions of the state. This also means Hennepin and Ramsey counties often have a significant sway on election results.</p>

        <div class="slide bottom">
            <div class="chatter"></div>
            <div class="chart" id="chartRegion"></div>
            <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
        </div>

        <div class="rule"></div>

        <section class="body">
            <h2 class="chartTitle">Keep an eye on the youth vote</h2>

            <p>Election forecasters are watching this year's youth vote closely since a significant increase in turnout among those aged 18-to-35 <a href="http://www.startribune.com/minnesota-youth-could-affect-key-november-elections-if-they-turn-out/480720341/">could strongly impact November's results</a>.</p>

            <p>This year's early youth vote comprises XX percent of absentee ballots filed so far, roughly the same as the early primary vote a few months ago. In 2016, voters aged 55 or older had the highest absentee turnout.</p>

            <div class="slide">
                  <div class="chatter"></div>
                  <div class="chart" id="chartAge"></div>
                  <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
            </div>
        </section>
    
      </div>
  </div>