<div class="strib-styles ssa ssb ssc">
    <div class="container-lg elex-header">
      <h5 class="font-popular-light"><span class="font-popular-medium">Election 2018</span></h5>
      <h1>So far <span class='odometer' id="odometer" style="min-width:134px;">410,238</span> people have voted early in Minnesota. Here's what to watch.</h1>
      <p class="byline">By <a href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a> • <span>Star Tribune</span></p>
      <div class="article-dateline"><time pubdate datetime="2018-10-01T16:00:00">Updated November 1, 2018</time></div>
      <!-- share -->
    </div>

    <div class="container-lg elex-main">

        <section class="leadin">

          <p>Six weeks into early voting, the number of ballots cast in Minnesota has nearly matched the early general election turnout in 2016, according to the Minnesota Secretary of State's data — an initial sign of potentially strong midterm turnout in November.</p>

          <p>In 2016, nearly 700,000 absentee ballots were received prior to Election Day. So far this year, about 410,000 votes have already been cast, which roughly matches 2016 at this time and is significantly more than the number who voted early in the 2014 midterms, when early voting was first allowed.</p>
          
          <p>The Star Tribune will be tracking the early vote here every week until Election Day, with new counts typically arriving on Thursdays. Here are some things we're watching as the vote comes in:</p>

        </section>
    
        <section class="body">
          <h2 class="chartTitle">How does turnout compare to 2014 and 2016?</h2>

          <p>High early voting numbers could be a reflection of enthusiasm among voters of both parties. It could also suggest that Minnesotans are getting used to recent voting laws, enacted in 2013 and first available in 2014, which allow residents to vote early without an excuse about six weeks before the election.</p>

          <p>So far this year, 410,238 Minnesotans have cast <span class="legendary purple3">ballots</span> — about three times the number that had voted early at this point in <span class="gray1 legendary">2014</span> and about 6,000 votes behind of <span class="gray3 legendary">2016's</span> tally.</p>

          <div class="slide">
            <div class="chatter"></div>
            <div class="chart" id="chart"></div>
            <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
          </div>

          <p>Matching 2016's pace is especially significant because midterm turnout is usually much lower in Minnesota than during presidential years.</p>

          <div class="slide">
            <div class="chatter"></div>
            <div class="chart" id="chartYear"></div>
            <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
          </div>

          <p>Minnesota often leads the nation in voter turnout, and the <a href="http://www.electproject.org/early_2018" target="new_">U.S. Elections Project</a> shows advanced voting isn't much different. Minnesota's early vote has already reached 106 percent of the total number of absentee ballots accepted in 2014, putting its pace ahead of most other states and among 21 that have surpassed their prior midterm total.</p>
        </section>


        <div class="rule"></div>
    
        <section class="body">
          <h2 class="chartTitle">Where are the early votes coming from?</h2>

          <p>Apart from being the state's major population centers, metro area counties like Hennepin and Ramsey often vote heavily Democratic in statewide elections. High turnout there could reflect Democratic enthusiasm, whereas high turnout in outstate counties could mean the same for Republicans.</p>

          <p>So far, measuring the percentage of absentee ballots cast by Minnesota county — shaded from <span class="legendary purple1">less</span> to <span class="legendary purple3">more</span> — reveals the most early turnout in Hennepin, Ramsey and Dakota counties.</p>

          <div class="slide">
            <div class="chatter"></div>
            <div id="mapCounties" class="map"><svg width="320" height="350" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
            <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
          </div>

          <p>By comparison, just before Election Day in 2016, <a href="http://www.startribune.com/who-s-using-absentee-voting-in-minnesota/399366901/#1">counties in northern parts of the state</a> and the Iron Range had among the highest percentages of early voter turnout.</p>

        </section>

        <div class="rule"></div>

        <section class="body">
          <h2 class="chartTitle">What's happening in the suburbs?</h2>
          <p>The Twin Cities suburbs are home to <a href="http://www.startribune.com/why-you-re-hearing-so-much-about-minnesota-s-congressional-races-this-fall/483225921/">two heavily contested Congressional races</a>, which could play a role in driving up turnout. The suburbs are also a key battleground in statewide races, so voter enthusiasm there is important to both parties.</p>

          <p>So far, more <span class="legendary purple3">2018</span> early votes are on pace to come from Hennepin and Ramsey counties than other areas, just as in 2016.</p>

          <div class="slide bottom">
            <div class="chatter"></div>
            <div class="chart" id="chartRegion"></div>
            <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a></div>
          </div>

        <p>The other five metro counties — Anoka, Carver, Dakota, Scott and Washington — alone account for about a quarter of the early vote, indicating a significant number of suburban early ballots.</p>

        <p>About 41 percent of the early vote has come from greater Minnesota, mostly from the central and southern regions.</p>
        </section>

        <!-- <div class="rule"></div>

        <section class="body">
            <h2 class="chartTitle">Are younger voters turning out?</h2>

            <p>Election forecasters are watching this year's youth vote closely since a significant increase in turnout among those aged 18-to-35 <a href="http://www.startribune.com/minnesota-youth-could-affect-key-november-elections-if-they-turn-out/480720341/">could strongly impact November's results</a>.</p>

            <p>This year's early youth vote comprises XX percent of absentee ballots filed so far, roughly the same as the early primary vote a few months ago. In 2016, voters aged 55 or older had the highest absentee turnout.</p>

            <div class="slide">
                  <div class="chatter"></div>
                  <div class="chart" id="chartAge"></div>
                  <div class="byline">Source: Minnesota Secretary of State | Graphic by <a href="http://www.startribune.com/jeff-hargarten/274254381/" target="new_">Jeff Hargarten, Star Tribune</a> | <a href="./data/maindata.xlsx" target="new_">Download Data</a></div>
            </div>
        </section> -->
      </div>
  </div>